* {
	margin: 0;
	padding: 0;
}

body{
	width: 100%;
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background-image: url('/src/assets/img/background.jpeg');
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-color: rgb(85, 85, 218);
	background-size: cover;
}
